#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config LVX_USE_DEMO_CONTEST2026_000_HELLO_APP
	bool "Contest 2026 team 000 hello app"
	default n
	---help---
		Enable the contest 2026 team 000 hello app demo.
